@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
html {
    min-height: 100%;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(238, 134, 134), rgb(0, 0, 0));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-color {
    background-color: rgb(48, 34, 34);
}
::placeholder { 
    color: rgb(255, 255, 255);
    opacity: 1;
  }
nav {
    background-image: linear-gradient( rgb(80, 28, 28), rgb(0, 0, 0));
}

footer {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(80, 28, 28));
}

.jumbotron,
.bg-trans {
    background-color: rgba(245, 203, 179, 0.13);
}

.fonts {
    font-size: 13px;
}

.button {
    border-radius: 25px;
}

.icon-size {
    font-size: 15px;
}

body {
    background-color: transparent;
    font-family: 'Tajawal';
    font-weight: lighter;
    
}

.success-msg {
    background-color: rgba(142, 223, 142, 0.747);
    border-radius: 5px;
    color: darkgreen;
}

.alert-msg {
    background-color: rgba(223, 142, 142, 0.548);
    border-radius: 5px;
    color: rgb(80, 11, 11);
}

.info-msg {
    background-color: rgba(142, 207, 223, 0.548);
    border-radius: 5px;
    color: rgb(0, 61, 61);
}

.row-coustom {
    display: flex;
    flex-wrap: wrap;
}

.card-margin {
    margin-top: 75px;
    margin-bottom: 75px;
}

.container-fluid-coustom {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
}

.col-md-auto-custom {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
}

.error-block {
    width: 100%;
    font-size: 80%;
    color: red;
}

.card-img-top {
    height: 25%;
}

.card,
button {
    transition: transform 0.7s;
}

.card:hover,
button:hover {
    transform: scale(1.03);
}
router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
  }